.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  --primary-color: #ff0000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
}


.btn-primary {
  color: #fff;
  background-color: var(--primary-color) !important;
  border-radius: 6px !important;
  border-color: var(--primary-color) !important;
  text-transform: capitalize;
}

.btn-primary:hover {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-secondary {
  color: #fff;
  background-color: #000 !important;
  border-color: #000 !important;
  margin:1px !important;
  border-radius: 6px !important;
}

.btn-secondary:hover {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-print {
  border: 1px solid #000 !important;
  margin:3px !important;
  border-radius: 6px !important;
}

.select-component-container.tab-section-card-button.full-btn button {
  width: 100%;
}



button.btn-transparent {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
}

button.btn-transparent:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border: 1px solid var(--primary-color);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* custom css */
.employee-form-container {
  margin-top: 2%;
}

.panel-form-title {
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 2%;
}

.company-information-title {
  font-size: 20px;
  text-align: initial;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color);
  font-weight: 100;
}

.employee-form-card-container {
  padding: 20px;
}

.select-component-container {
  text-align: initial;
  margin: 2% 0;
}

.select-component-label {
  font-size: 16px;
}

.select-component-item {
  margin-bottom: 5%;
}

.employee-list-add-btn {
  align-self: end;
}

.employee-detail-box-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10%;
  text-align: justify;
}

.employee-detail-box-value {
  font-weight: unset;
  margin: unset
}

.employee-detail-box-info-btn {
  text-align: justify;
}

.employee-detail-info-pic-container img {
  width: 100%;
}

.employee-profiling-detail-tabs-container {
  margin-top: 3%;
  padding-bottom: 5%;
}

.employee-profiling-detail-tab-item-container {
  background-color: #dee2e6;
}

.employee-profiling-detail-tab-item-container .nav-link.active {
  background: #000 !important;
  color: #fff !important;
}

.nav-link:focus, .nav-link:hover {
  color: var(--primary-color);
}

.nav-tabs .nav-link {
  color: #000 !important;
}

.employee-profiling-detail-tab-item-container .nav-link {
  padding: 15px 20px;
}

.tab-section-header {
  background: transparent;
  color: #000;
  padding: 5px 10px;
  text-align: justify;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 20px;
}
.tab-section-header h4 {
  margin-bottom: 0;
  font-weight: 100;
}

.tab-section-card {
  background: #fff;
  padding: 14px;
}

.tab-section-card-button {
  text-align: justify;
}

.tab-section-container {
  margin-top: 3%;
}

.family-info-tab-list-container {
  margin-top: 5%;
  text-align: justify;
}

.family-info-tab-list-container h4 {
  font-size: 18px;
}

.family-info-tab-form-container {
  text-align: justify;
}

.primary-btn {
  background-color: var(--primary-color) !important;
  border-radius: 8px !important;
  color:#fff !important;
}

.custom-pagination-container {
  align-self: self-end;
}

.required-docs-container {
  margin: 3% 0;
}

.alert-container {
  margin: 3% 0;
}

form.card input {
  -webkit-box-shadow: 1px 2px 4px #171414;
  box-shadow: 1px 2px 4px #171414;
  border-radius: 9px;
}

form.card {
  border-radius:24px;
  margin-right: 0px !important;
  margin-top:140px;
}
.login-background{
  background-image: url('/src/Images/hrms.jpg');
}
form.card .fr a {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 600;
}

form.card .reg a {
  color: var(--primary-color);
  font-weight: 600;
}
.hrms-head h1{
  color: #fff;
  font-size: 72px;
  text-shadow: 3px 5px black;
}
form.card .select-component-container {
  margin: 0% 0;
  border-radius: 9px;
}
form.card.sign-up{
  margin-top:100px;
}
form.card select#timezone{
  -webkit-box-shadow: 1px 2px 4px #171414;
  box-shadow: 1px 2px 4px #171414;
  border-radius: 9px;
}
.MuiButton-root.Mui-disabled {
  background-color: rgb(255 0 0 / 44%) !important;
}
header.MuiPaper-root {
  background-color: var(--primary-color) !important;
  border-radius: 4px !important;
}
div#example1_filter {
  margin-top: -30px;
}
.MuiDrawer-root.MuiDrawer-modal{
  position:static !important;
  /* margin-left: 256px; */
}

@media (min-width: 768px){
  .App > div {
    width: 84%;
    margin-right:20px; 
    margin-left: 256px;
  }
  }

@media (min-width: 768px){
  .MuiBackdrop-root{
  width: 10%;
  margin-left: 0px;
}
} 
/* .MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  padding-right: 50px !important;
} */
button#dropdown-basic-button:hover {
  box-shadow: none !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding: 0 50px !important;
}
.User-Info span {
  font-weight: 800;
}
.MuiTypography-body1 {
  font-size: 15px !important;
}
.SideMenu .css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root:hover, .css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root:active {
  border-radius: 8px;
}
.SideMenu .css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root:hover .MuiListItemIcon-root svg{
  color: var(--primary-color) !important;
}

.css-ishquk-MuiButtonBase-root-MuiListItemButton-root:hover, .css-ishquk-MuiButtonBase-root-MuiListItemButton-root:active{
  border-radius: 20px;
}
.login-background {
  width: 100% !important;
  margin-left: 0px !important;
}
.MuiDrawer-paperAnchorLeft {
  border-radius: 9px;
  -webkit-box-shadow: 1px 2px 4px #171414;
  box-shadow: 1px 2px 4px #171414;
  z-index: 1;
}
.MuiListItemIcon-root {
  color: #444 !important;
}
.SideMenu svg.MuiSvgIcon-root {
  color: var(--primary-color);
}
.MuiCollapse-wrapperInner.MuiCollapse-vertical.css-9l5vo-MuiCollapse-wrapperInner .MuiList-root {
  padding-left: 40px;
}
/* .MuiListItemIcon-root {
  min-width: 50px !important;
} */

.top-card-banner{
background-image: url('/src/Images/management.png');
background-size: cover;
background-repeat: no-repeat;
min-height:160px;
border-radius: 8px;
-webkit-box-shadow: 1px 3px 5px #171414;
box-shadow: 1px 3px 5px #171414;
}

.top-card-info h2, .top-card-info h4{
 color:#fff;
 text-decoration: underline;
}
.user-notify svg.MuiSvgIcon-root {
  color: #fff;
}
.MuiListItemButton-root.MuiListItemButton-gutters.MuiButtonBase-root.active.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root {
  background-color: rgba(0, 0, 0, 0.05);
}
.graph .card {
  box-shadow: 1px 3
  2px 4px #171414;
  -webkit-box-shadow: 1px 2px 4px #171414;
}
table td a {
  color: #171414;
}
table td a:hover {
  color: #444;
}
.MuiToolbar-regular {
  min-height: 56px !important;
}
button#dropdown-basic-button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.card.dashboard {
  box-shadow: none;
  margin-bottom: 0rem;
}
table tr td {
  text-align: left !important;
}
.dataTables_info{
  display: flex;
}

.alert-success {
  color: #fff !important;
  background-color: #1eb972 !important;
  border-color: #1eb972 !important;
}
.select-component-label {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.form-select {
  font-size: smaller !important;
  border-radius: 6px !important;
}
.select-component-container.employee-detail-box-info-btn button {
  background-color: transparent !important;
  color: #000 !important;
  border: none;
  font-weight: 500;
}
.makeStyles-menuButton-2 {
  margin-right: 0px !important;
}
.user-notify {
  margin-left: -15px !important;
}

input#executive {
  width: 20px;
  font-size: 24px;
  height: 20px;
  padding: 0 10px;
  margin-right: 10px;
}
.executive-checkbox label {
  font-weight: 600 !important;
    font-size: 14px;
    position: absolute;
}
svg.MuiSvgIcon-root.add-image {
  margin-left: 22px;
  font-size: 20px;
  position: absolute;
  margin-top: 4px;
}
svg.MuiSvgIcon-root.print-btn {
  color: #000;
}
svg.MuiSvgIcon-root.check-cirle {
  color: green;
  font-size: 56px !important;
}